/*! Typebase.less v0.1.0 | MIT License */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

  
  $primary-font: 'Inter', sans-serif;

  h1, h2, h3, h4, h5 {
    font-family: $primary-font;
    font-weight: bold;
    margin: 0 0 15px 0;
    @include breakpoint(md){       
      margin: 0 0 30px 0;         
     } 
    
  }

  p, li{
    font-family:$primary-font;
    font-size: 20px;
    @include breakpoint(md){       
      font-size: 22px;         
     } 
     
  }

.page-container{
  background: white;
  padding: 5% 5%;


  h1{
    color: $primary-color;
    font-size: 35px;
    font-weight: 900;
    font-family: $primary-font;
    line-height: 105%;
    text-align: center;
    padding-top: 0;
    padding-bottom: .5em;
   
  
    
    @include breakpoint(md){       
        font-size: 60px;
        padding-top: 0;
      
      
     } 
     
  }
}  
h1{
  color: $primary-color;
  font-size: 35px;
  font-weight: 900;
  font-family: $primary-font;
  line-height: 105%;
  text-align: center;
  padding-top:20vh;

  
  @include breakpoint(md){       
      font-size: 60px;
      padding-top: 25vh;
    
   } 
   
}

.hero{
  height: 100vh;
  @include breakpoint(md){  
    padding-top: 100px;
    height: 125vh;
  }
  h1{
   
      color: white;
      font-size: 50px;
      font-weight: 900;
      line-height: 105%;
      text-shadow: .03em .09em .05em #000000;
      padding-top: 20vh;
      @include breakpoint(md){       
          font-size: 80px;
        
       } 
  
}
  
     
  }

 

  h3, h2{
    color: $primary-color;    
    font-size: 30px;
    text-align: center;
    @include breakpoint(md){       
      font-size: 35px;
             
     } 
  }
  .secondary-font{
    color: $secondary-color
  }
  

  h4{
    color: black;    
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    @include breakpoint(md){       
      font-size: 40px;
      margin-bottom:30px;
              
     } 
  }

  
  h5{
    color: $primary-color;    
    font-size: 22px;
    text-align: left;
    @include breakpoint(md){       
      font-size: 25px;
           
     } 
  }
